<div class="border rounded p-8 flex justify-between">
  <div></div>
    <div>
    <span class="setup text">Number</span>

   <!-- data es una variable del TypeScript-->
   <!-- {{}} para consultar variables que se encuentran en TypeScript-->
   <h1 class="punchline">{{ data }}</h1>

</div>
<div class="w-16 h-16 bg-white text-black text-center rounded-full">  <button class="text-center" (click)="addNumber()">Add</button> </div>
<div class="w-16 h-16 bg-white text-black text-center rounded-full"> <button  class="text-center" (click)="deleteNumber()">Remove</button> </div>
   

</div>